nav,#banner,footer, .btn{
    display: none;
}

.descricao, ul{
    font-size: 0.8em; 
}

header img{
    width: 50%;
}

.receita img{
    opacity: 1;
}

.escondido{
    display: block;
    text-align: center;
    font-size: 1em;
}